/* styles.css */

/* Estilos globales para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Estilos para enlaces globales */
a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para encabezados */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para botones */


.button {
  background-color: #0074d9;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:focus {
  outline: none;
}


/* Estilos para contenedores */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.servicios-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.toggle-list-button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-list-button:hover {
  background-color: #0056b3;
}

.servicios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.servicios-table th,
.servicios-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.servicios-table th {
  background-color: #0074d9;
  color: #fff;
  font-weight: bold;
}

.servicios-table td {
  background-color: #f9f9f9;
}

.edit-button,
.delete-button {
  background-color: #0074d9;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

/* Agrega estos estilos al mismo archivo de CSS donde tienes los estilos del componente anterior o en un nuevo archivo CSS para este formulario específico */

/* Estilos para el formulario de creación de servicio */
.create-servicio-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-servicio-form h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.create-servicio-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.create-servicio-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.create-servicio-form button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-servicio-form button:hover {
  background-color: #0056b3;
}
